.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__lista{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

nav > div > a {
color: black;
}

nav > div > .ativo {
  background-color: var(--red);
  color: white;
  padding: .5rem;
  border-radius: 8px;
}

nav {
  height: 70px;
  margin: 0 2%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

nav > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}